//colors

$black:#000;
$bluee:#1DA1F2;
$text-color:#fff;
$border-color: #2F3336;
$gray:#6E767D;
$dark-gray:#202327;




//ui-colors

$ui-colors:( 
  black:$black,
  bluee:$bluee,
  border-color:$border-color,
  text-color:$text-color,
  gray:$gray,
  dark-gray:$dark-gray,



);


@function getColor($colorName){
    @each $map-key, $map-value in $ui-colors {
        @if $map-key == $colorName {
            @return $map-value
        }
    };
    @return $colorName;
}   





